*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.div-navbar{
  top: 0;
  z-index: 10;
}
.nav-bg{
  background-color: #004E9F;
  color: #ffffff;
}
.bg-menu{
  background-color: rgb(235, 235, 235);
  box-sizing: border-box;
  padding: 1rem;
  font-family: 'Press Start 2P', cursive;
  font-size: 0.7em;
  border-radius: 2vh;
  border: 2px outset gray;
}
.bg-list{
  border-radius: 1vh;
}
.bg-list1:hover{
  background-color: rgb(24, 134, 197);
}
.bg-list2:hover{
  background-color: rgb(197, 24, 125);
}
.bg-list3:hover{
  background-color: rgb(255, 102, 0);
}
.div-personaje-xs{
  height: 17%;
  top: 75%;
  left: 10%;
}
.group-images{
  margin-right: 15%;
}
.img-list{
  width: 2em;
  height: 2em;
  margin-left: 0.4em;
}
.img-list2{
  width: 5em;
  height: 5em;
  margin-left: 0.1em;
  border-radius: 2vh;
}
.div-personaje{
  height: 70%;
  width: 70vh;
  top: 14.5% !important;
  left: 7%;
  background: radial-gradient(#530B57, #22072A);
  border: 5px solid #921A3E;
  border-radius: 5vh;
}
.text-title-habilities{
  margin-left: -0.8em;
}
.box{
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
  width: calc(560px / 6);
  height: 94px;
  background: url(../assets/images/sprite4.png);
  animation: animate 1s steps(6) infinite;
}
@keyframes animate{
  from{
    background-position: 0;
  }
  to{
    background-position: 560px;
  }
}
/**/
.box2{
  border: none;
  margin-left: 4em !important;
  position: absolute;
  top: 70%;
  left: 10%;
  transform: translate(-50%, -50%);
  width: calc(1013px / 6);
  height: 169px;
  background: url(../assets/images/sprite2.png);
  animation: animate2 1s steps(6) infinite;
}
@keyframes animate2{
  from{
    background-position: 0;
  }
  to{
    background-position: 1013px;
  }
}
/**/
.box3{
  border: none;
  margin-left: 4em !important;
  position: absolute;
  top: 45%;
  left: 10%;
  transform: translate(-50%, -50%);
  width: calc(1536px / 6);
  height: 256px;
  background: url(../assets/images/sprite.png);
  animation: animate3 1s steps(6) infinite;
}
@keyframes animate3{
  from{
    background-position: 0;
  }
  to{
    background-position: 1536px;
  }
}
.group-images3{
  flex-flow: column;
  left: 67%;
}
.group-habilities{
  position: absolute;
  top: 8%;
  left: 73%;
  width: 50%;
}
.text-habilities{
  line-height: 0.9em;
  font-size: 0.9em;
  font-family: 'Electrolize', sans-serif;
  padding-top: 6.3vh;
}
/* Descripción acerca de mí */

.div-description{
  top: 14%;
  left: 6%;
}
.title-about-me{
  font-family: 'Press Start 2P', cursive;
  font-size: 1.2em;
}
.description-about-me{
  font-family: 'Electrolize', sans-serif;
  font-size: 0.8em;
}
@media (min-width: 576px){
  .div-description {
    top: 20%;
    left: 50%;
  }
}
@media (min-width: 768px){
  .div-description {
    top: 20%;
    left: 55%;
  }
}
@media (min-width: 900px){
  .div-description {
    top: 20%;
    left: 55%;
  }
  .title-about-me{
    font-size: 1.5em;
  }
  .description-about-me{
    font-size: 0.9em;
  }
}
@media (min-width: 992px){
  .div-description {
    top: 20%;
    left: 50%;
  }
}
@media(min-width:1100px){
  .div-description{
    left: 45%;
  }
}
@media (min-width: 1200px){
  .div-description {
    top: 20%;
    left: 43%;
  }
  .title-about-me{
    font-size: 2em;
  }
  .description-about-me{
    font-size: 1em;
  }
}
/*
@media (max-width: 1170px){
  .title-about-me{
    font-size: 1.7em;
  }
  .description-about-me{
    font-size: 1em;
  }
  .div-personaje{
    width: 25%;
  }
  .group-habilities{
    left: 41%;
  }
  .box{
    display: none;
  }
}
@media (max-width:839px) {
  .div-personaje{
    display: none;
  }  
  .group-habilities{
    display: none;
  }
  .description-about-me{
    font-size: 0.9em;
  }
  .div-description{
    left: 25%;
    text-align: center;
  }
}
@media (max-width:560px){
  .description-about-me{
    font-size: 0.7em;
  }
  .title-about-me{
    font-size: 1.5em;
    line-height: 1.8em;
  }
}*/
/* menu hamburguesa */
