*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/**/
.div-contact-me{
  top: 20%;
  left: 0;
  right: 0;
}
.text-title-contact{
  font-family: 'Press Start 2P', cursive;
  font-size: 1.6em;
}
.text-contact{
  font-family: 'Electrolize', sans-serif;
}
.div-box-info{
  background-color: rgba(253, 12, 205, .3);
  top: 40%;
  width: 90%;
  left: 0;
  right: 0;
}
.btn-download-cv{
  background-color: #FF3639;
  border: 2px solid #EB5757;
  width: 65%;
  height: 6vh;
  border-radius: 1vh;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  outline: 0px;
}
.text-color{
  color: #22072A;
}
.linkedin-logo{
  right: 10%;
}
.linkedin-logo, .github-logo{
  width: 10vh;
  height: 10%;
  position: absolute;
  bottom: 11%;
}
.github-logo{
  right: 27%;
}
@media (min-width:576px){
  .text-title-contact{
    font-size: 1.9em;
  }
  .github-logo{
    right: 24%;
  }
  .div-box-info{
    font-size: 1em;
  }
}
@media (min-width:768px) {
  .text-contact{
    font-size: 1.2em;
  }
  .text-title-contact{
    font-size: 2.3em;
  }
  .github-logo{
    right: 20%;
  }
  .div-box-info{
    font-size: 1.2em;
  }
}
@media (min-width:992px) {
  .github-logo{
    right: 17%;
  }
}
@media (min-width:1200px) {
  .github-logo{
    right: 17%;
  }
}