*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg-forest{
  background: url(../assets/images/BG.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.forest-xs, .forest-sm, .forest{
  top: 42.6%;
  width: 92.8%;
  height: 50vh;
  left: 3.6%;
  border-radius: 4vh;
}
.as-cloud{
  top: 33%;
  left: 15%;
  width: 12%;
}
.box-game{
  width: 15vh;
  height: 15vh;
  cursor: pointer;
}
.banmill{
  top: 27.7%;
  left: 40%;
}
.banmill:hover{
  outline: 13px solid yellow;
  animation: outline-animation-1 infinite 1s;
}
@keyframes outline-animation-1 {
  0%{
    outline: 13px solid #0f1e3f;
  }
  25%{
    outline: 13px solid #013069;
  }
  50%{
    outline: 13px solid #0063c5;
  }
  75%{
    outline: 13px solid #459cef;
  }
  100%{
    outline: 13px solid #88ccf7;
  }
}
.teleticket{
  top: 60.8%;
  left: 40%;
}
.teleticket:hover{
  outline: 13px solid magenta;
  animation: outline-animation-2 infinite 1s;
}
@keyframes outline-animation-2 {
  0%{
    outline: 13px solid #3d0009;
  }
  25%{
    outline: 13px solid #760b13;
  }
  50%{
    outline: 13px solid #d90e0f;
  }
  75%{
    outline: 13px solid #f65e1d;
  }
  100%{
    outline: 13px solid #f6c114;
  }
}
.lyft{
  top: 44.2%;
  left: 30%;
  z-index: 10;
}
.lyft-box{
  background: url(../assets/images/lyft.png);
}
.lyft:hover{
  outline: 13px solid maroon;
  animation: outline-animation-3 infinite 1s;
}
@keyframes outline-animation-3 {
  0%{
    outline: 13px solid #ef018d;
  }
  25%{
    outline: 13px solid #a22768;
  }
  50%{
    outline: 13px solid #dc4aa8;
  }
  75%{
    outline: 13px solid #d789c1;
  }
  100%{
    outline: 13px solid #e8bae3;
  }
}/*
.box4{
  top: 27.5%;
  left: 50%;
}
.box4:hover{
  outline: 9px solid springgreen;
}*/
/**/
.btn-project{
  background-color: #732369;
  outline: 0px;
  border: none;
  font-size: 1.2em;
}
.btn-demo{
  background-color: #7d4c8c;
  outline: 0px;
  font-size: 1.2em;
}
.text-portfolio{
  font-size: 0.7em;
}
@media (min-width:576px){
  .banmill{
    left: 48%;
  }
  .lyft{
    left: 60%;
  }
}