<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Acerca de mí</title>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Electrolize|Open+Sans|Press+Start+2P" rel="stylesheet">
  <!-- Bootstrap css Compilado -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <!-- carpeta css -->
  <link rel="stylesheet" href="../css/main.css">
  <!-- carpeta general css -->
  <link rel="stylesheet" href="../css/general.css">
  <!-- carpeta about css -->
  <link rel="stylesheet" href="../css/about.css">
</head>
<body class="background-image">
  <div class="div-rgba"></div>
  <div class="div-box1"></div>
  <div class="div-box2"></div>
  <!-- menú hamburguesa -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-9 position-absolute div-navbar d-sm-none">
        <nav class="navbar navbar-light ">
          <button class="navbar-toggler nav-bg border-light" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav bg-menu">
              <li class="nav-item">
                <a class="nav-link text-uppercase pl-3 bg-list1 bg-list" href="about.html">acerca de mí</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-uppercase pl-3 bg-list2 bg-list" href="portfolio.html">portafolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-uppercase pl-3 bg-list3 bg-list" href="contact.html">contáctame</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <!-- botones para la navegación -->
  <div class="container">
    <div class="row">
      <div class="d-none d-sm-block">
        <button id="about" class="text-btn position-absolute btn-box btn-box1 p-2 pl-3 pr-3 rounded text-uppercase text-white">
          acerca de mí
        </button>
      </div>
      <div class="d-none d-sm-block">
        <button id="portfolio" class="text-btn position-absolute btn-box btn-box2 p-2 pl-3 pr-3 rounded text-uppercase text-white">
          portafolio
        </button>
      </div>
      <div class="d-none d-sm-block">
        <button id="contact" class="text-btn position-absolute btn-box btn-box3 p-2 pl-3 pr-3 rounded text-uppercase text-white">
          contáctame
        </button>
      </div>
    </div>
  </div>
  <!-- descripción acerca de mí -->
  <div class="container">
    <div class="row">
      <div class="div-description position-absolute col-10 col-sm-5 col-md-4  col-xl-5 ml-2">
        <div class="text-light">
          <h3 class="title-about-me">Hola, soy Darcy</h3>
          <br>
          <p class="description-about-me">Mi pasión por la tecnología, el diseño y la investigación me dirigió hacia el campo de UX Design. Luego de tomar un curso de desarrollo front-end en Laboratoria, decidí tomar un curso intensivo de UX Design, especializándome en ese tema. Aquí, aprendí lo esencial que es involucrar al usuario desde el inicio hasta la última etapa del proceso, para así crear proyectos con alta aceptación. 
          </p>
          <p class="description-about-me">Además de mi pasión por UX, me gustan mucho los videojuegos, por lo que creé mi portafolio con esta temática. 
            ¡Espero que te entretengas navegando!</p>
        </div>
      </div>
    </div>
  </div>
  <!-- personaje y habilidades -->
  <div class="container">
    <div class="row">
      <div class="col-2 div-personaje-xs position-absolute d-sm-none">
        <div class="personaje">
          <div class="box"></div>
        </div>
      <div class="col-7">
        <div class="ml-4 list-habilities text-light">
          <p class="text-warning">Habilidades:</p>
          <div class="d-flex group-images">
            <img class="img-list" src="../assets/images/figma.png" alt="figma-logo">
            <img class="img-list" src="../assets/images/marvelapp.png" alt="marvelapp-logo">
            <img class="img-list" src="../assets/images/design-thinking.png" alt="design-thinking">
            <img class="img-list" src="../assets/images/ux-research.jpg" alt="ux-research">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- personaje y habilidades (caja para tamaño small)-->
  <div class="container">
    <div class="row">
      <div class="col-5 div-personaje position-absolute d-none d-sm-block d-md-none">
        <div class="box2"></div>
        <div class="ml-4 list-habilities text-light">
          <p class="text-warning pt-3">Habilidades:</p>
          <div class="d-flex group-images2">
            <img class="img-list2 mr-2" src="../assets/images/figma.png" alt="figma-logo">
            <img class="img-list2" src="../assets/images/marvelapp.png" alt="marvelapp-logo">
          </div>
          <div>
            <img class="img-list2 mt-2 mr-1" src="../assets/images/design-thinking.png" alt="design-thinking">
            <img class="img-list2 mt-2" src="../assets/images/ux-research.jpg" alt="ux-research">
          </div>
      </div>
    </div>
  </div>
  <!-- personaje y habilidades (para tamaño medium a large) -->
  <div class="container">
    <div class="row">
      <div class="col-md-6 div-personaje position-absolute d-none d-md-block">
        <div class="box3"></div>
        <div class="ml-4 list-habilities text-light">
          <div class="d-flex group-images3 position-absolute">
            <p class="text-warning pt-3">Habilidades:</p>
            <img class="img-list2 mb-1" src="../assets/images/figma.png" alt="figma-logo">
            <img class="img-list2 mb-1" src="../assets/images/marvelapp.png" alt="marvelapp-logo">
            <img class="img-list2 mb-1" src="../assets/images/design-thinking.png" alt="design-thinking">
            <img class="img-list2" src="../assets/images/ux-research.jpg" alt="ux-research">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- jQuery minificado -->
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- carpeta about.js -->
  <script src="../js/about.js"></script>
</body>
</html>