<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contáctame</title>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Electrolize|Open+Sans|Press+Start+2P" rel="stylesheet">
  <!-- Bootstrap css Compilado -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <!-- carpeta css -->
  <link rel="stylesheet" href="../css/main.css">
  <!-- carpeta general css -->
  <link rel="stylesheet" href="../css/general.css">
  <!-- carpeta  css -->
  <link rel="stylesheet" href="../css/about.css">
  <!-- carpeta contact css -->
  <link rel="stylesheet" href="../css/contact.css">
</head>
<body class="background-image">
  <div class="div-rgba"></div>
  <div class="div-box1"></div>
  <div class="div-box2"></div>
  <!-- menú hamburguesa -->
  <div class="container-fluid">
      <div class="row">
        <div class="col-9 position-absolute div-navbar d-sm-none">
          <nav class="navbar navbar-light ">
            <button class="navbar-toggler nav-bg border-light" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav">
              <ul class="navbar-nav bg-menu">
                <li class="nav-item">
                  <a class="nav-link text-uppercase pl-3 bg-list1 bg-list" href="about.html">acerca de mí</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-uppercase pl-3 bg-list2 bg-list" href="portfolio.html">portafolio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-uppercase pl-3 bg-list3 bg-list" href="contact.html">contáctame</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <!-- botones para la navegación -->
    <div class="container">
      <div class="row">
        <div class="d-none d-sm-block">
          <button id="about" class="text-btn position-absolute btn-box btn-box1 p-2 pl-3 pr-3 rounded text-uppercase text-white">
            acerca de mí
          </button>
        </div>
        <div class="d-none d-sm-block">
          <button id="portfolio" class="text-btn position-absolute btn-box btn-box2 p-2 pl-3 pr-3 rounded text-uppercase text-white">
            portafolio
          </button>
        </div>
        <div class="d-none d-sm-block">
          <button id="contact" class="text-btn position-absolute btn-box btn-box3 p-2 pl-3 pr-3 rounded text-uppercase text-white">
            contáctame
          </button>
        </div>
      </div>
    </div>
  <!-- comienza la sección contáctame -->
  <div class="container">
    <div class="row">
      <div class="col-10 div-contact-me position-absolute text-white text-center m-auto">
        <p class="text-contact">Si te gustó mi portafolio</p>
        <h1 class="text-title-contact text-uppercase">Contáctame</h1>
      </div>
    </div>
  </div>
  <!-- medios para contactarme -->
  <div class="container">
    <div class="row">
      <div class="col-9 col-sm-8 col-md-7 col-lg-5 col-xl-4 div-box-info position-absolute text-white text-center m-auto pt-4 pb-4">
        <div class="email d-flex justify-content-center align-center">
          <i class="fas fa-envelope mr-3 mt-1"></i>
          <p>darcycervera@gmail.com</p>
        </div>
        <div class="phone d-flex justify-content-center align-center">
          <i class="fas fa-phone-volume mt-1 mr-3"></i>
          <p>+51 970 781 328</p>
        </div>
        <div class="location d-flex justify-content-center align-center">
          <i class="fas fa-location-arrow mt-1 mr-3"></i>
          <p>Lima, Perú</p>
        </div>
        <div class="">
          <a href="../assets/docs/Darcy Cervera Huamani - CV_UX Designer.pdf" download><button class="btn-download-cv text-center pt-1 pb-2">
            <div class="d-flex justify-content-center align-center">
              <i class="fas fa-download text-color mr-2 mt-1"></i>
              <p class="text-color">Descarga mi CV</p>
            </div>
          </button></a> 
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <a href="https://linkedin.com/in/darcycervera/" target="_blank"><img class="linkedin-logo" src="../assets/images/linkedin-logo.png" alt=""></a>
    <a href="https://github.com/darcycervh" target="_blank"><img class="github-logo" src="../assets/images/github-logo.png" alt=""></a>
  </div>
  <!-- jQuery minificado -->
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- carpeta js -->
  <script src="../js/about.js"></script>
</body>
</html>
