<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Portafolio</title>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Electrolize|Open+Sans|Press+Start+2P" rel="stylesheet">
  <!-- Bootstrap css Compilado -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <!-- carpeta css -->
  <link rel="stylesheet" href="../css/main.css">
  <!-- carpeta general css -->
  <link rel="stylesheet" href="../css/general.css">
  <!-- carpeta portfolio css -->
  <link rel="stylesheet" href="../css/portfolio.css">
  <!-- -->
  <link rel="stylesheet" href="../css/about.css">
</head>
<body class="background-image">
  <div class="div-rgba"></div>
  <div class="div-box1"></div>
  <div class="div-box2 bg-forest"></div>
  <!-- menú hamburguesa -->
  <div class="container-fluid">
      <div class="row">
        <div class="col-9 position-absolute div-navbar d-sm-none">
          <nav class="navbar navbar-light ">
            <button class="navbar-toggler nav-bg border-light" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav">
              <ul class="navbar-nav bg-menu">
                <li class="nav-item">
                  <a class="nav-link text-uppercase pl-3 bg-list1 bg-list" href="about.html">acerca de mí</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-uppercase pl-3 bg-list2 bg-list" href="portfolio.html">portafolio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-uppercase pl-3 bg-list3 bg-list" href="contact.html">contáctame</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <!-- botones para la navegación -->
    <div class="container">
      <div class="row">
        <div class="d-none d-sm-block">
          <button id="about" class="text-btn position-absolute btn-box btn-box1 p-2 pl-3 pr-3 rounded text-uppercase text-white">
            acerca de mí
          </button>
        </div>
        <div class="d-none d-sm-block">
          <button id="portfolio" class="text-btn position-absolute btn-box btn-box2 p-2 pl-3 pr-3 rounded text-uppercase text-white">
            portafolio
          </button>
        </div>
        <div class="d-none d-sm-block">
          <button id="contact" class="text-btn position-absolute btn-box btn-box3 p-2 pl-3 pr-3 rounded text-uppercase text-white">
            contáctame
          </button>
        </div>
      </div>
    </div>
  <!-- comienza presentación de los proyectos -->
  <div class="div-image-forest">
    <!-- vista xs -->
    <img class="forest-xs position-absolute d-md-none" src="../assets/images/torre-cesped.png" alt="">
    <!-- vista sm y md -->
    <img class="d-none d-md-block d-lg-none forest-sm position-absolute" src="../assets/images/bosque-md.png" alt="">
    <!-- vista lg y xl -->
    <img class="d-none d-lg-block forest position-absolute" src="../assets/images/bosque.png" alt="">
    <img class="d-none d-lg-block as-cloud position-absolute" src="../assets/images/arriba.png" alt="">
    <div class="box-banmill">
      <img class="banmill box-game position-absolute" src="../assets/images/banmill.png" alt="" data-toggle="modal" data-target=".bd-example-modal-lg">
      <!-- Modal de la caja banmill -->
      <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title" id="exampleModalLongTitle">Banmill</h1>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h3>Proyecto banco digital</h3>
              <i><strong>Curso: </strong>Especialización UX Designer</i>
              <br>
              <br>
              <div class="text-portfolio">
                <p>Creación de una plataforma de un banco digital.</p>
                <br>
                <p><strong>Propósito del proyecto:</strong></p>
                <p>Para la innovación y transformación del banco convencional, a un banco 100% digital, es como nace esta propuesta: <strong>Banmill</strong>, una plataforma sencilla en términos de usabilidad, para que usuarios puedan realizar sus operaciones bancarias sin importar el lugar en el que se encuentre.</p>
                <p><i>Proyecto colaborativo.</i></p>
              </div>
            </div>
            <div class="modal-footer m-auto">
              <a href="https://github.com/darcycervh/proyecto-banco-digital" target="_blank"><button type="button" class="btn btn-secondary p-3 btn-project">Ver proyecto</button></a> 
              <a href="https://marvelapp.com/c52a8a9" target="_blank"><button type="button" class="btn btn-primary p-3 btn-demo">Ver demo</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Teleticket -->
    <div class="box-teleticket">
      <img class="teleticket box-game position-absolute" src="../assets/images/Teleticket.png" alt="" data-toggle="modal" data-target=".bd-example-modal-lg-2">
      <!-- Modal de la caja banmill -->
      <div class="modal fade bd-example-modal-lg-2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLongTitle">Teleticket</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h3>Proyecto: Rediseño de la página de Teleticket</h3>
                <i><strong>Curso: </strong>Especialización UX Designer</i>
                <br>
                <div class="text-portfolio">
                  <p class="mt-2">Teleticket es una plataforma digital de venta de entrada a eventos internacionales y nacionales.</p>
                  <br>
                  <p><strong>Propósito del proyecto:</strong></p>
                  <p>Mejorar su diseño y aprender a priorizar al usuario, mostrando de manera rápida lo que ellos prefieren buscar que son los eventos y, mejorar su pasarela de pago para hacerlo más entendible.</p>
                </div>
              </div>
              <div class="modal-footer m-auto">
                <a href="https://github.com/darcycervh/teleticket" target="_blank"><button type="button" class="btn btn-secondary p-3 btn-project">Ver proyecto</button></a> 
                <a href="https://marvelapp.com/320516j" target="_blank"><button type="button" class="btn btn-primary p-3 btn-demo">Ver demo</button></a> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="box-yo-indecopi">
      <img class="box-game position-absolute box4" src="../assets/images/caja.png" alt="">
      <img src="../assets/images/.png" alt="">
    </div>-->
    <!-- Proyecto Lyft -->
    <div class="box-lyft">
      <img class="lyft box-game position-absolute lyft-box" src="../assets/images/Lyft.png" alt="" data-toggle="modal" data-target=".bd-example-modal-lg-3">
      <!-- Modal de la caja banmill -->
      <div class="modal fade bd-example-modal-lg-3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLongTitle">Lyft</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h3>Proyecto: Diseño de la plataforma de registro de Lyft</h3>
                <i><strong>Curso:</strong> Front-end Web Development</i>
                <br>
                <br>
                <div class="text-portfolio">
                  <p>Creación de una plataforma digital, para registro y validación de datos de usuarios, aplicable a aplicaciones de transporte y servicios múltiples (Lyft, Globo, Rappi, etc.)</p>
                  <br>
                  <p><strong>Propósito del proyecto:</strong></p>
                  <p>Aplicar lo aprendido durante el curso de programación básica en Laboratoria, utilizando las siguientes herramientas: HTML, CSS, JavaScript, Bootstrap.</p>
                  <p><i>Este proyecto es para versión móvil.</i></p>
                </div>
              </div>
              <div class="modal-footer m-auto">
                <a href="https://github.com/darcycervh/lyft-mobile-first" target="_blank"><button type="button" class="btn btn-secondary p-3 btn-project">Ver proyecto</button></a>
                <a href="https://darcycervh.github.io/lyft-mobile-first/" target="_blank"><button type="button" class="btn btn-primary p-3 btn-demo">Ver demo</button></a> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <!-- jQuery minificado -->
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <!-- FontAwesome fuente para íconos -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
  <!-- Bootstrap JavaScript compilado -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <!-- Bootsrap JavaScript bundle -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
  <script src="../js/about.js"></script>
  <!-- -->
  <script src="../js/portfolio.js"></script>
</body>
</html>